[user]
	email = anish@dmodel.ai
	name = Anish Tondwalkar
[push]
	default = current
[pull]
	ff = only
[merge]
	tool = vimdiff
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[github]
	user = atondwal
[hub]
	protocol = ssh
[alias]
	lola = log --graph --decorate --oneline --all
