!! Transparency (0-1):
!st.alpha: 1

!! Set a default font and font size as below:
!st.font: Terminus-9;

! st.termname: st-256color
! st.borderpx: 2

URxvt.font: xft:Terminus:size=9
URxvt.boldFont: xft:Terminus:size=9

!! Colorscheme

! special
URxvt.foreground: #93a1a1
URxvt.background: #141c21
URxvt.cursorColor: #afbfbf

! black
URxvt.color0: #263640
URxvt.color8: #4a697d

! red
URxvt.color1: #d12f2c
URxvt.color9: #fa3935

! green
URxvt.color2: #819400
URxvt.color10: #a4bd00

! yellow
URxvt.color3: #b08500
URxvt.color11: #d9a400

! blue
URxvt.color4: #2587cc
URxvt.color12: #2ca2f5

! magenta
URxvt.color5: #696ebf
URxvt.color13: #8086e8

! cyan
URxvt.color6: #289c93
URxvt.color14: #33c5ba

! white
URxvt.color7: #bfbaac
URxvt.color15: #fdf6e3

! !! Set the background, foreground and cursor colors as below:
! *.background: #282828
! *.foreground: white
! *.cursorColor: white
! 
! /* !! gruvbox: */
! *.color0: #1d2021
! *.color1: #cc241d
! *.color2: #98971a
! *.color3: #d79921
! *.color4: #458588
! *.color5: #b16286
! *.color6: #689d6a
! *.color7: #a89984
! *.color8: #928374
! *.color9: #fb4934
! *.color10: #b8bb26
! *.color11: #fabd2f
! *.color12: #83a598
! *.color13: #d3869b
! *.color14: #8ec07c
! *.color15: #ebdbb2
Xft.dpi:       96
Xft.antialias: 1
Xft.rgba:      none
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hinting:   1
Xft.hintstyle: hintfull
